<!DOCTYPE html>
<html>
  <head>
    <title>FirstBlogRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h1> This is the Users page and currently you have selected <%= params[:id] %> user ID. </h1>
    <h2><%= @user.name %></h2>
    <span>Number of posts = <%= @user.posts_counter%></span><br>
    <div>Bio: <%= @user.bio %></div>
    <% @user_posts.each do |post| %>
      <div>
        <h2>Post #<%= post.id %>: <%= post.title %></h2> 
        <span><%= post.text %></span><br>
        <span>Comments counter = <%= post.comments_counter %></span>
        <span>Likes counter = <%= post.likes_counter %></span>
      </div>
    <% end %>
    <a href="/users/<%= @user.id%>/posts"><button>See all posts</button></a>
  </body>
</html>
