<!DOCTYPE html>
<html>
  <head>
    <title>FirstBlogRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
  <div class="usersMainPage">
    <div class="linksUserPage">
      <div class="userboxPlaceholder"></div>
      <div class="userpageInformation">
        <h2 class="userpageHeading"><%= @user.name %></h2>
        <span class="userpagePosts">Number of posts = <%= @user.posts_counter%></span>
      </div>
    </div>
    <% @user_posts.each do |post| %>
      <a class="postsMainBox" href="/users/<%= @user.id %>/posts/<%= post.id %>">
        <div class="usersbioBox">
          <h2>Post: <%= post.title %></h2> 
          <span><%= post.text %></span><br>
          <div class="userspageCounter">
            <span>Comments: <%= post.comments_counter %>, </span>
            <span>Likes: <%= post.likes_counter %></span>
          </div>
        </div>
        <div class="usersbioBox">
          <% post.last_comments.each do |comment| %>
            <div>
              <span><%= @user.name %></span> 
              <span>: <%= comment.text %></span>
            </div>
          <% end %>
          <br><br><br>
        </div>
      </a>
    <% end %>
  </div>
  </body>
</html>
