<!DOCTYPE html>
<html>
<%= flash[:success] %>
  <head>
    <title>FirstBlogRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="postsMainBox">
      <div class="postSubBox">
        <h2><%= @post.title %> by <%= @post.author.name %></h2>
        <div class="userspageCounter">
          <span>Comments: <%= @post.comments_counter %>, </span>
          <span>Likes: <%= @post.likes_counter %></span>
        </div>
        <span><%= @post.text %></span>
      </div>
      <div class="usersbioBox">
        <% @post_comments.includes(:author).each do |comment| %>
          <div>
            <span><%= comment.author.name %></span> 
            <span>: <%= comment.text %></span>
          </div>
        <% end %>
      </div>
    </div>

    <%= form_with model: @like, url: likes_path do |f| %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.submit "Like" %>
    <% end %>
    <%= flash[:error] %>
  </body>
</html>
