<!DOCTYPE html>
<html>
  <head>
    <title>FirstBlogRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <p> This is the Posts page and currently you have selected <%= params[:id] %> Post ID. </p>
    
        
      <h2>Post: <%= @post.title %></h2> 
      <span><%= @post.text %></span><br>
      <span>Comments counter = <%= @post.comments_counter %></span>
      <span>Likes counter = <%= @post.likes_counter %></span>
      <br><br>
      <% @post_comments.each do |comment| %>
        <div>
          <span><%= @user.name %></span> 
          <span>: <%= comment.text %></span>
        </div>
      <% end %>
      <br><br><br>
  
  </body>
</html>
